/*--------------------------------------------------------------
>>> ROOM PAGE
----------------------------------------------------------------
*/

.single-room {
	.site-main--no-sidebar {
		max-width: none;

		.datepicker-form {
			margin-left: auto;
			margin-right: auto;
		}
	}

	.room__content--single {
		margin-left: auto;
		margin-right: auto;
		max-width: 770px;
	}
}

.room__header {
	margin-bottom: $space__ll;

	.entry-title {
		margin-bottom: 0;
	}
}

.site-main--no-sidebar {
	.room__header,
	.room__thumbnail--single {
		text-align: center;
	}
}

.room__thumbnail--single {
	margin-bottom: $space__l;
}

.room__gallery-link--single {
	font-style: italic;
	color: $color__text-dark;
	display: inline-block;
	margin-top: $space;
	text-decoration: underline;

	&:hover {
		color: $color__text-light;
	}
}

.room__price--single {
	@include font-size(18px);
	font-style: italic;

	.amount {
		font-size: 250%;
	}
}

.site-main--no-sidebar {
	.room__price-wrapper--single {
		text-align: center;
	}
}

.room-available-rates__link {
	@include font-size(11px, 1);
	@include transition;
	background: $color__background-button;
	color: $color__text-button;
	display: inline-block;
	font-family: $font__secondary;
	font-weight: 400;
	letter-spacing: 2.7px;
	margin-top: $space;
	padding: 13px 25px;
	text-decoration: none;
	text-transform: uppercase;

	&:hover {
		background: $color__background-button-hover;
	}
}

.room__deposit--single {
	margin-top: $space;
}

.site-main--no-sidebar {
	.room__details--single {
		text-align: center;
	}
}

.room-available-rates {
	margin-bottom: 0;
}

.room__non-cancellable-info--single {
	margin-top: $space__s;

	p {
		margin-bottom: 0;
	}
}

.room__min-max-stay--single {
	margin-top: $space__s;
}

.room__deposit--single + .room__min-max-stay--single {
	margin-top: $space;
}

.room__meta--single {
	border-top: 1px solid $color__background-line;
	margin-top: $space__ll;
	padding-top: $space__l;
}

.room__details {
	h3 {
		@include font-size(12px);
		color: $color__text-light;
		font-family: $font__secondary;
		font-weight: 700;
		letter-spacing: 2px;
		text-transform: uppercase;
	}

	ul {
		@include clear-list();
		margin-bottom: 0;
		padding-left: 0;
	}

	p {
		margin-bottom: 0;
	}
}

.room__meta--single a {
	font-style: italic;
	color: $color__text-dark;
	text-decoration: underline;

	&:hover {
		color: $color__text-light;
	}
}

.room__facilities--single {
	margin-top: $space__l;
}

.room__facilities-content--single {
	font-style: italic;
}

.room__conditions--single {
	margin-top: $space__l;
}

.room__additional_details--single {
	@include font-size(14px);
	margin-top: $space__l;
}

.room__description--single {
	border-top: 1px solid $color__background-line;
	margin-top: $space__l;
	padding-top: $space__ll;
}

.room__rates--single {
	margin-top: $space__ll;
}

.room__rates-title {
	@include font-size(12px);
	color: $color__text-light;
	font-family: $font__secondary;
	font-weight: 700;
	letter-spacing: 2px;
	margin-bottom: $space__m;
	text-transform: uppercase;
}

.room__rates-list {
	@include clear-list();
	margin: 0;
	padding: 0;
}

.room__rate--single {
	@include font-size(15px);
	background-color: #fafafa;
	margin-bottom: $space;
	padding: $space__m;

	&:last-child {
		margin-bottom: 0;
	}
}

.rate__conditions-title--single {
	color: $color__text-dark;
	font-weight: 700;
	display: block;
	margin-bottom: $space__xs;
}

.related-rooms {
	margin-top: $space__ll;
}

.related-rooms-title {
	@include font-size(12px);
	color: $color__text-light;
	font-family: $font__secondary;
	font-weight: 700;
	letter-spacing: 2px;
	margin-bottom: $space__m;
	text-transform: uppercase;
}
