$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ddd;
$color__background-button: #0F0F0F;
$color__background-button-hover: #686767;
$color__background-pre: #f5f5f5;
$color__background-code: #f5f5f5;
$color__background-ins: #fff9c0;
$color__background-line: #ddd;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;
$color__text-main: #686767;
$color__text-dark: #0F0F0F;
$color__text-light: #9A9A9A;
$color__text-button: #fff;

$color__border-input: #ddd;
$color__border-input-focus: #999;
$color__border-abbr: #666;
