$space: round($global__line__height);
$space__xxs: round(0.125 * $space);
$space__xs: round(0.25 * $space);
$space__s: round(0.5 * $space);
$space__m: round(1.5 * $space);
$space__l: round(2 * $space);
$space__ll: round(3 * $space);
$space__xl: round(4 * $space);
$space__xxl: round(6 * $space);
